.convo-choice {
    margin-bottom: .5em;
    min-width: 20em;
    max-width: 20em;
    display: block;
    color: rgb(213, 213, 213);
    font-family: Arial, Helvetica, sans-serif, monospace;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer; 
    
    border-image-slice: 1;
    border-width: .2em;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #161616;
    border-image-source: radial-gradient(rgb(255, 255, 255), #161616);
}

.convo-choice:hover {
    color: white;
    transform: scale(1.1);
}

.convo-choice:active {
    color: white;
    transform: scale(0.9);
}