.grid-container.visible {
    transition: opacity 3s;
    opacity: 1;
}

.grid-container.notVisible {
    opacity: 0;
}

.grid-layout {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns:
        minmax(auto, 3fr)
        minmax(auto, 2fr)
        minmax(auto, 5fr)
        minmax(auto, 2fr)
        minmax(auto, 3fr);
    grid-template-rows:
        minmax(auto, 8fr)
        minmax(auto, 3fr)
        minmax(auto, 1fr)
        minmax(auto, 3fr)
        minmax(auto, 6fr);
    grid-template-areas:
        ". .. .. .. ."
        ". le .. re ."
        ". .. .. .. ."
        ". .. mo .. ."
        ". .. .. .. .";
}

.leftEye {
    overflow: hidden;
    grid-area: le;
    z-index: 1;
}

.rightEye {
    overflow: hidden;
    grid-area: re;
    z-index: 1;
}

.mouth {
    overflow: hidden;
    grid-area: mo;
    z-index: 1;
}